@import "./theme/variables";
@import "./theme/bootstrap";

.text-bold {
  font-weight: bold;
}

.external-links {
  a {
    color: $gray-light;
    font-size: 62px;
    display: inline-block;
    margin: 5px;
    &:hover {
      color: #fff;
    }
  }
}

/* Introduction Component */
#introduction {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #000;
  background-image: url('../assets/coder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;

  & > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 0;
  }
  & > .container {
    position: relative;
    z-index: 100;
    color: #fff;
    .pic {
      position: relative;
      margin: 45px auto;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $gray-light;
      background-image: url('../assets/spodlecki.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }
    .external-links {
      a {
        color: $gray-light;
        font-size: 62px;
        display: inline-block;
        margin: 5px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#about {
  padding: $grid-gutter-width;
  .cloud {
    text-align: center;
    font-size: 13px;
    span {
      display: inline-block;
      margin: 4px;
    }
    span:nth-of-type(3n + 1) {
      font-size: 1.2;
    }
    span:nth-of-type(4n+3) {
      font-size: 1.6em;
    }
    span:nth-of-type(5n - 3) {
      font-size: 0.8em;
    }
  }
  .external-links {
    text-align: center;
    a {
      color: $gray-light;
      &:hover {
        color: #000;
      }
    }
  }
  .details {
    font-size: 18px;
    .h2:first-child {
      margin-top: 0;
    }
  }
}

#skills {
  padding: $grid-gutter-width;
  text-align: center;
  background-color: $gray-lighter;
  .skill {
    text-align: left;
    .title {
      display: block;
      .name {
        float: left;
      }
      .caption {
        text-transform: uppercase;
        float: right;
        font-size: 0.9em;
        color: $gray-light;
      }
    }

    .progress {
      height: 5px;
      border-radius: 0;
      background-color: #fff;
      box-shadow: none;
    }
  }
}
